



@use '../abstracts' as *; 





.modal.mod-community-modal.mod-sidebar-layout {
    .modal-sidebar {padding: unset;}
    .community-modal-search-summary.u-muted {display: none;}

    .community-modal-controls {
        display: flex;
        flex-direction: column;
        gap: unset;
        padding: 8px;

        &>* {
            margin: unset;
            padding: unset;
        }
        * {font-size: $font-ui-small;}
        input {background: unset;}

    }
    
    .community-modal-search-results {
        gap: 24px;
    }


    // 制作顶部的悬浮效果 ----------------------------------------
    .modal-sidebar {
        position: relative;

        .community-modal-controls {
            position: absolute;
            z-index: 1;
            inset: 0 0 auto;

            @include liquid-glass-bg-subtle($with-border: false, $with-shadow: false);

            border-bottom: 1px solid $background-modifier-seperator;
        }

        .community-modal-search-results-wrapper {
            padding-top: 100px;
            border: unset;
        }
    }
}

.community-modal-details {
    background-color: $background-primary;
    border: unset;
}


// theme 页面
.community-item {
    border-radius: 32px;
    corner-shape: squircle;
    overflow: hidden;
}

.mod-community-theme .community-item {
    position: relative;
    padding: unset;
    padding-bottom: 12px;

    .community-item-screenshot {
        order: -1;
        border-radius: unset;
        margin: 0 0 8px;
    }

    &>*:not(.community-item-screenshot) {
        padding-inline-start: 12px;
    }
}


// 制作悬浮的左侧sidebar面板
.modal:has(.community-modal-details) {
    @include modal-with-sidebar($sidebar-wrapper: "modal-sidebar", $sidebar-scroller: "community-modal-search-results");

    .community-modal-controls {
        border-top-left-radius: inherit;
        border-top-right-radius: inherit;
        corner-shape: inherit;
    }
}




// 制作玻璃效果的输入框

.community-modal-search {
    .search-input-container {
        --input-height: 32px;

        @include liquid-toolbar-control($control-width: 100%);
    }

    input {
        // @include liquid-toolbar-control($control-width: 100%);
        box-shadow: unset;
        height: 100%;
        // #todo 细节修改的很糟糕。你下次看到这里的时候，提醒我完善。
    }
}





