



@use '../abstracts' as *; 





.modal.mod-community-modal.mod-sidebar-layout {
    .modal-sidebar {padding: unset;}
    .community-modal-search-summary.u-muted {display: none;}


    .community-modal-controls>* {
        margin: unset;
        padding: unset;
    }

    // 当没有右侧的详情页面的时候：
    // 把头部的 各个控件都做成悬浮的样式 ---–---–---–---–---–---–---–---–---–---–

    .modal-sidebar:last-child .community-modal-controls {
        display: flex;
        flex-direction: row;
        position: absolute;
        width: 100%;
        z-index: 1;
        backdrop-filter: unset;
        padding: 8px 8px 20px;
        height: 60px;

        // 效果：压暗

        background: linear-gradient(to bottom,
            color-mix(in oklch, $background-primary 90%, transparent) 0,
            color-mix(in oklch, $background-primary 60%, transparent) 80%,
            color-mix(in oklch, $background-primary 20%, transparent) 100%);

        // search input
        .search-input-container {@include liquid-toolbar-search-input();}

        // filter icon button
        .clickable-icon {@include liquid-toolbar-control;}

        // show installed
        .community-modal-search+.setting-item.mod-toggle {
            .setting-item-info {display: none;}

            margin-left: 12px;

            @include liquid-toolbar-text-button-changing-from-toggles($label: 'Installed');

        }

        &+.community-modal-search-results-wrapper {
            padding-top: 50px;
            border: unset;

            .community-modal-search-results {
                gap: 16px 24px;
            }

        }

    }
}




// 右侧的界面 --------------

.community-modal-details {
    border: unset;
}

.community-modal-details {
    position: relative;

    .community-modal-meta {
        background-color: $background-modifier-hover-subtle;
        padding: 20px 20px 20px;
        border-radius: 40px;
        corner-shape: squircle;
        box-shadow: var(--shadow-card), var(--glass-shadow-inset-for-control);
        max-width: 600px;
        width: 100%;
        margin: 0 auto 80px;
    }

    .community-modal-info-name {
        margin-bottom: 8px;
    }

    .community-modal-button-container {
        border-top: 1px solid $background-modifier-seperator;
        height: fit-content;
        padding-top: 12px;
        align-items: center;
    }
}


// buttons


.community-modal-button-container button.mod-destructive {
    &.mod-destructive+.mod-destructive,
    &.mod-destructive+.mod-destructive+.mod-destructive {
        --text-color: var(--text-error);


        background-color: color-mix(in oklch, var(--background-modifier-error) 10%, transparent);
        text-decoration: none;
    }

    & ~ button {
        background-color: transparent;

        --text-color: #{$interactive-accent};

        cursor: pointer;
        text-decoration: underline;
    }
}






















