

@use '../abstracts' as *; 




.modal.mod-sync-history.mod-sidebar-layout {
    @include modal-with-sidebar($sidebar-wrapper: 'modal-sidebar.mod-history', $sidebar-scroller: 'modal-sidebar-list');

    background-color: var(--background-primary);

    // 左侧 ------------------------------------------
    
    // sidebar

    .modal-sidebar-inner {
        border: unset;
        background-color: unset;
    }

    // sidebar item
    .file-recovery-list-item-header {
        @include liquid-sidebar-item($is-selected-status-name: ".is-active");

        min-height: 36px;
        padding-inline-start: 10px;
    }

    .file-recovery-list-item-details {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: baseline;
    }    
}




.sync-history-content {
    position: relative;

    .modal-setting-titlebar {
        position: absolute;
        width: 100%;
        background: linear-gradient(to bottom,
            color-mix(in oklch, $background-primary 90%, transparent) 0,
            color-mix(in oklch, $background-primary 60%, transparent) 80%,
            color-mix(in oklch, $background-primary 20%, transparent) 100%);
        border: unset;
    }

    textarea {
        animation: none;
        padding-top: 60px;
    }
}








