


@use '../abstracts' as *; 


.modal.mod-settings.mod-sidebar-layout {
    @include modal-with-sidebar($sidebar-wrapper: 'vertical-tab-header', $sidebar-scroller: 'vertical-tab-header-group-container');

    .vertical-tab-header-group {
        padding-top: 8px;
        padding-bottom: 24px;
    }


    // 左侧 ------------------------------------------
    
    // sidebar item
    .vertical-tab-nav-item {
        @include liquid-sidebar-item($is-selected-status-name: ".is-active");
    }

    .file-recovery-list-item-details {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

}


// 设置页面的 titlebar
.setting-page-titlebar {
    gap: 8px;

    --settings-background: transparent;

    .setting-page-back-button {@include liquid-toolbar-control;}
}


// 其他页面的titlebar 比如 filerecovery

.modal-setting-titlebar {
    min-height: $titlebar-height;
    font-size: $font-ui-small;
    padding-right: 60px;
    z-index: 1;

    .modal-setting-titlebar-actions {
        gap: 12px;
    }

    .modal-setting-title {
        font-size: inherit;
        font-weight: 500;
    }

    button {@include liquid-toolbar-control($control-width: fit-content);}    
}


.community-modal-info {
    overflow: visible;
}







