


@use '../abstracts' as *; 


.modal.mod-settings.mod-sidebar-layout {
    @include modal-with-sidebar($sidebar-wrapper: 'vertical-tab-header', $sidebar-scroller: 'vertical-tab-header-group-container');

    .vertical-tab-header-group {
        padding-top: 8px;
        padding-bottom: 24px;
    }


    // 左侧 ------------------------------------------
    
    // sidebar item
    .vertical-tab-nav-item {
        @include liquid-sidebar-item($is-selected-status-name: ".is-active");
    }

    .file-recovery-list-item-details {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

}


.setting-page-titlebar {
    gap: 8px;

    .setting-page-back-button {
        @include liquid-toolbar-control;
    }
}







