


@use '../abstracts' as *; 

@media (hover: hover) {
    .markdown-source-view.mod-cm6 .cm-embed-block:not(.cm-table-widget, .cm-lang-base):hover {
        // box-shadow: var(--embed-block-shadow-hover);
        border-radius: 40px;
        corner-shape: squircle;
    }
}

.markdown-source-view.mod-cm6 .cm-embed-block {
    .embed-actions {
        top: 8px;
        right: 8px;
    }

    .embed-action {
        padding: 6px;
        border-radius: 100px;
        corner-shape: unset;
    }
}


// 容易带来性能开销
// .cm-embed-block.cm-callout {
//     &:has(+.cm-line.cm-active) {
//         z-index: 1;
//         animation: 
//             fade-in var(--anim-duration-slow) ease-out none,
//             move-up-far var(--anim-duration-moderate) ease-out none;
//     }
// }



.cm-embed-block.cm-callout {
    overflow: visible ;
    z-index: 2;
    position: relative;
}


.callout {
    --callout-radius: 40px;

    corner-shape: squircle;
    box-shadow:  var(--glass-shadow-inset-l);
    box-shadow: var(--shadow-glass-border),var(--glass-shadow-inset-l);
    // box-shadow: var(--shadow-l);

    .callout-content {
        overflow: visible;
        text-shadow: 
            0 0 20px  rgb(var(--mono-rgb-100), 13%),
            0 0 45px  rgb(var(--mono-rgb-100), 25%),

    }
}

