// mixins




@use '../abstracts' as *;

.menu {
    @include liquid-glass-bg-normal($with-shadow: false);

    box-shadow: var(--shadow-s), var(--glass-shadow-inset-l);
    line-height: $line-height-ui-small;

    --menu-shadow:
        /* 2. 左右内阴影 (利用 -10px 扩展半径消除上下发散，并将 X 轴偏移量补偿到 20px) */
        inset 20px 0 10px -10px rgb(0 0 0 / 1.5%),  /* 左侧阴影 */
        inset -20px 0 10px -10px rgb(0 0 0 / 1.5%), /* 右侧阴影 */
        0px 1px 2px rgb(0 0 0 / 2.8%),
        0px 3.4px 6.7px rgb(0 0 0 / 8.2%),
        0px 15px 30px rgb(0 0 0 / 11%);

    // --background-glass: rgba(255, 255, 255, 0.5);



    border-radius: 20px;
    corner-shape: squircle;
    border: var(--menu-border-width) solid var(--menu-border-color);

    .menu-scroll {
        padding: 4px;
    }

}






.menu ~ .menu {
    translate: -4px -6px;
}


.menu-separator {
    margin: 6px 12px;
}


.menu-item {
    corner-shape: squircle;
    border-radius: 20px;
    gap: var(--size-4-2);
    padding: 4px 8px;
    line-height: $line-height-control;

    .menu-item-title {
        padding-right: 40px;
    }

    // font & icon
    .menu-item-icon {
        padding-inline-start: 4px;
    }

    .menu-item-icon svg.svg-icon {
        --icon-size: var(--icon-xs);
        --icon-stroke: 2.4px;
    }

    &.is-warning {
        color: var(--text-error);

        .menu-item-icon {color: var(--text-error);}
    }

}


// color

.menu-item:not(.is-label, .is-disabled).selected {

    // 只有一个menu的时候
    .menu & {
        @include button-accent;
    }

    // 有多个menu的时候，关于第一个menu的选中状态
    .menu:has( ~ .menu:hover) &,
    .menu:has( ~ .menu):not(:hover) & {
        background-color: var(--background-modifier-hover-plus);

        //bug
        color: initial;
        .menu-item-icon { color: var(--text-normal); }
    }

    .menu:has( ~ .menu) & {
        &:hover { @include button-accent; }
    }

    // 有多个menu的时候，关于后续menu的选中状态
    .menu ~ .menu & {
        &:hover { @include button-accent; }
    }
}




// // animation =============================================================================

// .app-container:has(.has-active-menu[aria-label="More options"]) ~ .menu {
//     transform-origin: top right;
//         animation: dynamic-outline-show 0.3s cubic-bezier(0.53, 0.00, 0.38, 1.15) none;
// }




