

@use '../abstracts' as *; 



.modal-container .modal  {
    //出现时的动画
    --modal-padding: 16px;
    --modal-radius: 40px;

    corner-shape: squircle;
    animation: 
        fade-in var(--anim-duration-moderate) ease-out none,
        pop-in-subtle var(--anim-duration-moderate) ease-out none;
}

.modal {
    background-color: var(--background-secondary);
    background-image: var(--liquid-modal-background-image);
    padding: 0 var(--modal-padding) var(--modal-padding);



    .modal-header-button {
        inset: 8px 8px auto auto;

        @include liquid-toolbar-control;

    }

    .modal-button-container {
        padding: 16px;
        gap: 20px;

        .mod-cta {order: 1;}

        button {
            border-radius: 20px;
            corner-shape: unset;
            height: 32px;   
            box-shadow: var(--shadow-card-mini), var(--shadow-glass-border);
            // background: var(--toolbar-contols-background);
        }

        &:last-child {
            border-top: 1px solid $background-modifier-seperator;
            margin: 24px -16px -16px;
        }
    }
}





.modal-header {
    display: flex;
    flex-direction: column;
    margin: 0 calc( var(--modal-padding)  * -1) 20px;
    

    &:has(.modal-title:only-child:empty) {
        display: none;
    }

    &:has(.modal-title:only-child:empty)+.modal-content>h2:first-child,
    .modal-title {
        justify-content: flex-start;
        padding: 12px var(--modal-padding) 0;
        margin: unset;
        min-height: 50px;

        // font-size: var(--font-ui-small);
        font-weight: 600;
        font-size: $font-ui-large;

        // border-bottom: 1px solid var(--background-modifier-border);
    }


}






