

@use '../abstracts' as *; 



.modal {
    //出现时的动画
    --modal-padding: 16px;

    animation: 
        fade-in var(--anim-duration-moderate) ease-out none,
        pop-in-subtle var(--anim-duration-moderate) ease-out none;
}

.modal {
    background-color: var(--background-secondary);
    background-image: var(--liquid-modal-background-image);
    padding: 0 var(--modal-padding) var(--modal-padding);



    .modal-header-button {
        inset: 8px 8px auto auto;
        
        // 圆形 ------------------------------------

        @include liquid-toolbar-control;

        


        
        // 方形 ------------------------------------
        // inset: 10px 10px auto auto;
        // padding: 6px;
        // background-color: var(--interactive-normal);
        // border-radius: 99px;
        // corner-shape: squircle;
        
        // &:hover {background-color: $background-modifier-hover-subtle;}

    }

    .modal-button-container {
        padding: 16px;
        gap: 12px;

        .mod-cta {order: 1;}

        &:last-child {
            border-top: 1px solid $background-modifier-seperator;
            margin: 24px -16px -16px;
        }
    }



}





.modal-header {
    display: flex;
    flex-direction: column;
    margin: 0 calc( var(--modal-padding)  * -1) 20px;
    

    &:has(.modal-title:only-child:empty) {
        display: none;
    }

    &:has(.modal-title:only-child:empty)+.modal-content>h2:first-child,
    .modal-title {
        justify-content: flex-start;
        padding: 12px var(--modal-padding) 0;
        margin: unset;
        min-height: 50px;

        // font-size: var(--font-ui-small);
        font-weight: 600;
        font-size: $font-ui-large;

        // border-bottom: 1px solid var(--background-modifier-border);
    }


}






