



@use '../abstracts' as *;


.notice-container {
    overflow: visible;
}

.notice {
    --notice-corner-shape: squircle;
    --notice-radius: 24px;
    --notice-color: #{$text-normal};
    --notice-padding: 12px 20px;
    --notice-border: none;

    // @include liquid-glass-bg-normal($with-border: false);
    @include liquid-glass-bg-normal($with-border: false);

    box-shadow: var(--shadow-card), var(--shadow-glass-border-tilted);

}