


@use 'variables-swiftive' as *; 
@use 'mixins-forms' as *;

// @use '../components/buttons' as *;

@mixin liquid-glass-bg-normal($with-shadow: true, $with-border: true) {
    background-color: var(--background-glass);
    backdrop-filter: var(--backdrop-filter-glass);
    

    @if $with-border {
        border: 1px solid rgb(100 100 100 / 30%);
    }

    @if $with-shadow {
        border: 1px solid rgb(0 0 0 / 15%);
        box-shadow: var(--glass-shadow-inset-l), var(--shadow-card), var(--glass-shadow-inset-edge);
    }
}

@mixin liquid-glass-bg-subtle($with-border: false, $with-shadow: false) {
    background-color: var(--background-glass-subtle);
    backdrop-filter: var(--backdrop-filter-glass-subtle);

    @if $with-border {
        border: 1px solid rgb(100 100 100 / 30%);
    }

    @if $with-shadow {
        border: 1px solid rgb(0 0 0 / 15%);
        box-shadow: var(--glass-shadow-inset-l), var(--shadow-card), var(--glass-shadow-inset-edge);
    }
}


@mixin is-selected($modifier) {
    &.#{$modifier} {
        background-color: $interactive-accent;

        --text-normal: var(--text-on-accent);
        --text-muted: rgb(255 255 255 / 55%);
        --code-normal: var(--text-on-accent);
    }
}

// ==============================================================================
// liquid design 相关的 mixins 
// ==============================================================================



@mixin modal-with-sidebar($sidebar-wrapper, $sidebar-scroller) {
    border-radius: 40px;
    corner-shape: squircle;
    background-color: $background-primary;

    --modal-sidebar-background: transparent;

    background-image: none;
    

    .modal-content {
        display: flex;
        flex-direction: row;
        padding-left: 7px;
    }


    .#{$sidebar-wrapper} {
        margin: 7px 0; //toolbar padding
        border: 1px solid var(--liquid-sidebar-border-color);
        box-shadow: var(--liquid-sidebar-shadow);
        corner-shape: squircle;
        overflow: hidden;
        border-radius: 30px;
        z-index: 10;
        background-color: var(--background-secondary);
        background-image: var(--liquid-sidebar-background-image);


    }

    .#{$sidebar-scroller} {
        padding: 9px;
    } 


}




@mixin liquid-sidebar {
    z-index: 1;
    margin: 7px 0; //toolbar padding
    border: 1px solid var(--liquid-sidebar-border-color);
    box-shadow: var(--liquid-sidebar-shadow);
    border-radius: $sidebar-radius;
    padding: 9px;
    background-color: var(--background-secondary);
    background-image: var(--liquid-sidebar-background-image);

}

@mixin liquid-sidebar-item($is-selected-status-name) {
    height: $control-height-l;
    border-radius: $radius-m;
    display: flex;
    align-items: center;
    padding: 0 8px;
    border: unset;
    margin: unset;
    font-weight: 400;
    font-size: 14px; // #待定
    line-height: $line-height-control;
    transition: unset;
    cursor: default;
    

    &:hover {
        text-shadow: 0 0 .3px currentcolor;
        background-color: unset;
        color: $text-normal;
    }

    &:active {background-color: unset;}

    &#{$is-selected-status-name} {
        background-color: var(--background-modifier-hover);
        color: var(--text-accent);
        border-radius: $radius-m;
    }

    * {color: currentcolor;}

    
}




// toolbar ---------------------------------------------------------------

$toolbar-padding: 7px;
$toolbar-item-radius: 18px;
$sidebar-radius: 18px;

@mixin liquid-toolbar {
    position: absolute;
    z-index: 1;
    inset: 0 0 auto 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 52px; // 固定
    padding: 7px; // 固定
    border: unset;
    overflow: visible;
}


// toolbar items
@mixin liquid-toolbar-item($toolbar-item-width) {
    height: 36px;
    width: $toolbar-item-width;
    border-radius: 18px;
    background: var(--toolbar-items-background);
    background-color: var(--background-secondary);
    border: 1px solid transparent;
    box-shadow: var(--toolbar-items-shadow);
    overflow: hidden;
}


@mixin liquid-toolbar-item-icon {
    @include liquid-toolbar-item($toolbar-item-width: 36px);
    @include button-interaction;

    padding: unset;
    align-items: center;
    justify-content: center;
    gap: unset;
}


@mixin liquid-toolbar-item-text {
    // ------------ 取消 button 默认的样式
    margin: unset;
    // ------------

    @include liquid-toolbar-item($toolbar-item-width: unset);
    @include button-interaction;

    padding: 0 16px;
}