/* @settings

name: Glassive
id: Glassive Theme Setting
settings:
    - 
        id: color
        title: color
        type: heading
        level: 1
        collapsed: true



    - 
        id: accent
        title: Accent Color
        description: 
        type: class-select
        allowEmpty: false
        default: theme-glassive-accent-indigo
        options:
            - 
                label: Obsidian Default
                value: theme-glassive-accent-user-custom
            - 
                label: Red
                value: theme-glassive-accent-red
            - 
                label: Orange
                value: theme-glassive-accent-orange
            - 
                label: Yellow
                value: theme-glassive-accent-yellow
            - 
                label: Green
                value: theme-glassive-accent-green
            - 
                label: Mint
                value: theme-glassive-accent-mint
            - 
                label: Teal
                value: theme-glassive-accent-teal
            - 
                label: Cyan
                value: theme-glassive-accent-cyan
            - 
                label: Blue
                value: theme-glassive-accent-blue
            - 
                label: Indigo
                value: theme-glassive-accent-indigo
            -
                label: Purple
                value: theme-glassive-accent-purple
            -
                label: Pink
                value: theme-glassive-accent-pink
            -
                label: Brown
                value: theme-glassive-accent-brown
            -
                label: Black
                value: theme-glassive-accent-black

    - 
        id: interface
        title: Interface
        type: heading
        level: 1
        collapsed: true
    -   
        id: nav-item-size-smaller
        title: small nav item size
        description: 更小的 导航（比如文件浏览器、大纲）中的按钮的大小
        type: class-toggle
        default: false
 */     