




@use '../abstracts' as *;

.workspace-leaf-content[data-type="file-explorer"] {
    .nav-header {
        display: flex;
        justify-content: center;
    }

    .nav-buttons-container {
        width: 100%;
        max-width: 180px;
    }

    .nav-action-button[aria-label="New folder"] {
        margin-right: auto;
    }
}