

@use '../abstracts' as *;




.workspace-split.mod-sidedock .workspace-tabs  {
    .workspace-tab-header-container {
        border: unset;
        z-index: 1;
    }

    .workspace-tab-header-container-inner {
        background-color: $background-secondary;
        padding: 4px;
        border-radius: 20px;
        box-shadow: var(--shadow-s), var(--glass-shadow-inset-edge);
        gap: 4px;
    }

    &.mod-top .workspace-tab-header-container-inner {
        margin-left: 12px;
    }


    .workspace-tab-header {
        box-shadow: unset;

        .workspace-tab-header-inner {
            border-radius: 99px;
            corner-shape: unset;
            

        }
    }

    .workspace-tab-header.is-active {
        background-color: $background-modifier-hover;
        border-radius: 99px;
        corner-shape: unset;

        --icon-color-focused: #{$interactive-accent};
        --tab-text-color-focused-active: #{$interactive-accent};

        .workspace-tab-header-inner-icon .svg-icon {
            color: #{$interactive-accent};

            --icon-stroke: 2.5px;
        }
    }
}



// 当 sidebar tab header 行只有一个 header 的时候 ------------------------------------------
.workspace-split.mod-sidedock .workspace-tabs:has(>.workspace-tab-header-container>.workspace-tab-header-container-inner>.workspace-tab-header:only-child) {
    .workspace-tab-header-container {
        border-bottom: unset;
        position: absolute;
        background-image: linear-gradient(
            to bottom, 
            color-mix(in oklch, $background-secondary 80%, transparent), 
            color-mix(in oklch, $background-secondary 70%, transparent) );
        background-color: unset;
        z-index: 1;
        width: 100%;
    }

    .workspace-tab-header-inner {
        --sidebar-tab-text-display: block;

        gap: 6px;
        color: $text-normal;
    }

    .nav-buttons-container {
        justify-content: flex-end;
    }

    .workspace-leaf-content[data-type="markdown"] .cm-scroller,
    .workspace-leaf-content[data-type="markdown"] .markdown-preview-view {
        padding-top: calc( var(--header-height) + 8px);

        .inline-title:not([data-level]) {display: none;}
    }
}


